<div class="wrapper">
  <div class="post-container">
    <h1 class="post-details-title">
      <a href="<%= @link_post.url %>"><%= @link_post.url %></a>
    </h1>
    <div class="post-author">
      posted by <span class="username"><%= @link_post.post.username %></span>
      <%= time_ago_in_words(@link_post.created_at)%> ago.
    </div>
  </div>

  <div class="comment-box">
    <%= form_for ([@link_post.post, @comment]) do |f| %>
      <%= f.label :content, "Comment:" %>
      <%= f.text_area :content, class: "comment-box-text-area" %>
      <%= f.submit %>
    <% end %>
  </div>

  <div>
    <%= link_to "up", post_upvotes_path(@link_post.post), method: :post %>
    <p>Votes: <%= @link_post.post.total_votes %></p>
    <%= link_to "down", post_downvotes_path(@link_post.post), method: :post %>
  </div>

<div>
  <%= render @link_post.comments.by_most_recent %>
</div>

  <%= link_to "See All Posts", root_path %>
</div>
