<div class="wrapper new-post">
  <%= form_for text_post do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %>

    <%= f.label :text %>
    <%= f.text_area :text, class: "new-post-text" %>

    <%= f.submit %>
  <% end %>
</div>
