<div class="wrapper">
  <div class="post-container">
    <h1 class="post-details-title">
      <%= @post.title %>
    </h1>
    <div class="post-author">
      posted by <span class="username"><%= @post.user.username %></span>
      <%= time_ago_in_words(@post.created_at)%> ago.
    </div>
    <div class="post-text">
      <%= @post.text %>
    </div>
  </div>

  <div class="comment-box">
    <%= form_for ([@post, @comment]) do |f| %>
      <%= f.label :content, "Comment:" %>
      <%= f.text_area :content, class: "comment-box-text-area" %>
      <%= f.submit %>
    <% end %>
  </div>

<div>
  <%= link_to "UP", post_votes_path(@post), method: :post %>
</div>

<div>
  <%= render @post.comments.by_most_recent %>
</div>

<%= link_to "See All Posts", root_path %>
</div>
