<div class="wrapper">
  <div class="post-container">
    <h1 class="post-details-title">
      <%= @post.title %>
    </h1>
    <div class="post-author">
      posted by <span class="username"><%= @post.user.username %></span>
      <%= time_ago_in_words(@post.created_at)%> ago.
    </div>
    <div class="post-text">
      <%= @post.text %>
    </div>
  </div>
<%= link_to "See All Posts", root_path %>
</div>
