<!DOCTYPE html>
<html>
<head>
  <title>POSTR</title>
  <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
  <main class="container">
    <header>
      <div class="header-logo">
        <%= link_to root_path do %>
          <%= image_tag "logo.png" %>
        <% end %>
      </div>
      <div class="signed-in">
      <% if signed_in? %>
        <%= link_to "New Post", new_post_path, class:"new-post-link" %>
        <%= link_to "Sign out", session_path, method: :delete, class: "sign-out-link"%>
      <% else %>
        <%= link_to "Sign in", new_session_path, class: "sign-in-link"%>
        <%= link_to "Sign up", new_user_path, class: "sign-up-link"%>
      <% end %>
      </div>
    </header>
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>
    <%= yield %>
  </main>
</body>
</html>
